.navbar-right{
    position: fixed;
    left: 0;
    top:100px;
    width: 300px;
    height: 100vh;
    background-color: rgb(235, 235, 235);
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    gap: 10px;  
}

.navbar-right-title{
    font-size: 24px;
    color:rgb(0, 0, 0);
    margin-top: 10px;
}

.navbar-right-content{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navbar-right-item{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 50px;
    
    padding: 10px;
    cursor: pointer;
    
    background-color: rgb(227, 233, 233);
}

.navbar-right-item:hover{
    background-color: rgb(166, 192, 192);
}

.leads-content, .scale-content, .reports-content,.broker-content,.properties-content{
    background-color: rgb(230, 228, 225);
    display: none;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    animation: menu 500ms ease-in;
}
.leads-content span, .scale-content span, .reports-content span, .broker-content span, .properties-content span{
   height: 50px;
   padding: 10px;
   text-align: left;
}

.leads-content span:hover, .scale-content span:hover, .reports-content span:hover, .broker-content span:hover, .properties-content span:hover{
    background-color: rgb(211, 211, 211);
    cursor: pointer;
}

.leads-icon,.scales-icon,.reports-icon, .broker-icon, .properties-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.fa-rotate-90{
    transform: rotate(90);
    transition: 500ms;
}

.leads-content-visible, .scale-content-visible, .reports-content-visible, .broker-content-visible,.properties-content-visible{
    display:flex;
    flex-direction: column;
    gap:5px;   
    height: 100px;
    border-left: 3px solid rgb(125, 139, 165);
}


.scale-content-visible {
    height: 150px;
}


.leads,.scales,.reports,.broker,.properties{
    display: flex;
    justify-content: space-between;
}

.navbar-right-item img, .modules-menu img{
    height: 10px;
    width: 10px;
}

