
h1{
    margin-bottom: 40px;
}

.form-register-lead{
    width: 1600px;
    height: 910px;
}
.content-form-lead{
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: rgb(201, 201, 201);
    width: 2000px;
    border-radius: 4px;
    padding: 20px;
}

fieldset{
    border: none;
    display: flex;
    gap: 50px;
}

legend{
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

div{
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 10px;
}

.input-lead-name,.input-lead-phone, .input-lead-email, .input-lead-capture-date,.select-lead{
    width: 600px;
    height: 50px;
    padding: 10px;

    font-size: 20px;

    border-radius: 4px;

    outline: none;
}

#button-register{
    margin-top: 40px;
    width: 240px;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
}

#button-register:hover{
    background-color: rgb(185, 185, 185);
}