*{
    padding: 0;
    margin: 0;
}


.top-menu-left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.top-menu-left img{
    height: 60px;
    width: 200px;
}

.logo-cunha{
    cursor: pointer;
}
.top-menu-right{
    display: flex;
    flex-direction: row;
}

.modules-menu{
    background-color: rgb(255, 255, 255);
    
    width: 200px;
    height: 60px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    cursor: pointer;  
    
}

.modules-menu span{
    font-size: 20px;
}

.modules-menu-content{  
    position: absolute;
    left: 395px;
    top: 70px;
    

    display: flex;
    flex-direction: column;
    
    gap: 10px;
    width: 250px;
    height: 200px;

    background-color: rgb(223, 223, 223);

    font-size: 16px; 
}

.financial,.site,.marketing,.crm{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 50px;
}

.financial:hover,.site:hover,.marketing:hover,.crm:hover{
    background-color: aquamarine;
    cursor: pointer;
    overflow-inline: auto;
}

.modules-menu-content-visible{
   display: none;
}


.link-site a{
    text-decoration: none;
    color:black;    
}

.link-site i{
   margin-left: 1px;
}

.top-menu-right{
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 300px;
}

.brokers-online-icon{
    height: 20px;
    width: 20px;   
    cursor: pointer;
}

.brokers-online-moment{
    height: 50px;
    width: 150px;
    background-color: aqua;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 70px;    
}

.brokers-online-moment-visible{
    display: none;
}

.avatar{
    background-color: rgb(236, 231, 231);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid rgb(216, 203, 203); 
}

.avatar-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:10px
}

.avatar-wrapper span{
    font-size: 18px;
    margin-right: 100px;
}
